<div class="row border border-info mb-5 mt-3">
  <div class="container d-flex justify-content-between bg-info mb-3">
    <div class="m-4 text-light">
      <h1 class="d-inline mr-4">My Wallet</h1>
      <h5 *ngIf="!isEditMode" class="d-inline">
        Automatic Payment {{ payment.automatic ? 'Enabled' : 'Disabled'}}
      </h5>
    </div>
    <button
      [disabled]="isEditMode && (!updatePayment.name
        || !updatePayment.cardNumber || !updatePayment.expiration
        || !updatePayment.address || !updatePayment.city
        || !updatePayment.state || !updatePayment.zip)"
      (click)="clickInfo()"
      class="btn btn-link text-light"
    >
      {{isEditMode ? 'Save Info' : 'Edit Info'}}
    </button>
  </div>

  <!-- No Payment Info -->
  <div *ngIf="!isEditMode && !payment.name" class="container">
    <div class="h5 m-4 font-weight-light">
      <div class="text-center mb-2">You don't have any payment methods yet.</div>
    </div>
  </div>

  <!-- Display Info -->
  <div *ngIf="!isEditMode && payment.name" class="container text-info">
    <div class="row m-2">
      <div class="col h5 font-weight-light">Cardholder Name:
        <span class="text-dark">{{payment.name}}</span>
      </div>
      <div class="col h5 font-weight-light">Billing Address:</div>
    </div>
    <div class="row m-2">
      <div class="col h5 font-weight-light">Card Number:
        <span class="text-dark">{{payment.cardNumber}}</span>
      </div>
      <div class="col h5 font-weight-light text-dark">{{payment.address}}</div>
    </div>
    <div class="row m-2">
      <div class="col h5 font-weight-light">Expiration Date:
        <span class="text-dark">{{payment.expiration}}</span>
      </div>
      <div class="col h5 font-weight-light text-dark">
        {{payment.city}}, {{payment.state}} {{payment.zip}}
      </div>
    </div>
  </div>

  <!-- Edit Info -->
  <div *ngIf="isEditMode" class="container">
    <form>
      <div class="form-group row m-4">
        <div class="col-md-5 d-flex align-items-center">
          <label for="name" class="mr-4 long-label">Cardholder Name</label>
          <input
            type="text"
            [(ngModel)]="updatePayment.name"
            name="name"
            class="form-control"
            id="name">
        </div>
        <div class="col d-flex align-items-center">
            <label for="address" class="mr-4 long-label">Billing Address</label>
            <input
              type="text"
              [(ngModel)]="updatePayment.address"
              name="address"
              class="form-control"
              id="address">
          </div>
      </div>
      <div class="form-group row m-4">
        <div class="col-md-5 d-flex align-items-center">
          <label for="cardNumber" class="long-label">Card Number</label>
          <input
            type="text"
            [(ngModel)]="updatePayment.cardNumber"
            name="cardNumber"
            class="form-control"
            id="cardNumber">
        </div>
        <div class="col d-flex align-items-center">
          <label for="city" class="mr-4">City</label>
          <input
            type="text"
            [(ngModel)]="updatePayment.city"
            name="city"
            class="form-control"
            id="city">
        </div>
      </div>
      <div class="form-group row m-4">
        <div class="col-md-5 d-flex align-items-center">
          <label for="expiration" class="mr-2 long-label">Expiration Date</label>
          <input
            type="text"
            [(ngModel)]="updatePayment.expiration"
            name="expiration"
            class="form-control"
            id="expiration">
        </div>
        <div class="col d-flex">
          <div class="d-flex align-items-center mr-4">
            <label for="state" class="mr-4">State</label>
            <input
              type="text"
              [(ngModel)]="updatePayment.state"
              name="state"
              class="form-control"
              id="state">
          </div>
          <div class="d-flex align-items-center">
              <label for="zip" class="mr-4">Zip</label>
              <input
                type="text"
                [(ngModel)]="updatePayment.zip"
                name="zip"
                class="form-control"
                id="zip">
            </div>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-end align-items-baseline m-4">
        <input
          type="checkbox"
          [(ngModel)]="updatePayment.automatic"
          name="automatic"
          class="mr-2"
          id="automatic">
        <label for="automatic" class="mr-4">Automatic Payment</label>
      </div>
    </form>
  </div>
</div>
