<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-info large-text text-light text-center">
        Account Info
      </div>
      <div class="card-body bg-light">
        <form class="container">
          <!-- Username and Password -->
          <div class="form-group">
            <label for="account_username">
              Username
            </label>
            <input
              type="text"
              id="account_username"
              class="form-control"
              name="account_username"
              [(ngModel)]='loginInfo.username' />
          </div>
          <div class="form-group">
            <label for="account_password">
              Password
            </label>
            <input
              type="password"
              id="account_pasword"
              class="form-control"
              name="account_password"
              [(ngModel)]='loginInfo.password' />
          </div>
          <div class="form-group">
            <label for="confirm_password">
              Confirm Password
            </label>
            <input
              type="password"
              id="confirm_pasword"
              class="form-control"
              name="confirm_password" />
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <div class="text-right mr-2">I am a</div>
            <div >
              <select
                id="account_state"
                name="account_state"
                class="form-control"
                [(ngModel)]='loginInfo.type'
              >
                <option></option>
                <option value="nanny">Nanny</option>
                <option value="parent">Parent</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center containter">
  <div class="row col-md-8 justify-content-end">
    <div class="col-md-2 pr-1 mt-2 clearfix">
      <button
        type="button"
        id="next_btn"
        (click)="next()"
        class="btn float-right btn-info"
      >
        Next
      </button>
    </div>
  </div>
</div>
