<div class="container">
  <!-- Show no matter what account -->
  <div class="row text-light">
    <h1 class="m-4 text-dark">My Account</h1>
    <div class="container rounded bg-info mb-3">
      <div class="row m-2">
        <div class="col h5 font-weight-light">Name: account.name</div>
        <div class="col h5 font-weight-light">Email: account.email</div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Gender: account.gender</div>
        <div class="col h5 font-weight-light">Phone: account.phone</div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Age: account.age</div>
        <div class="col h5 font-weight-light">Address: account.address</div>
      </div>
    </div>
  </div>

  <!-- show if nanny account -->
  <div class="row text-light">
    <h1 class="m-4 text-dark">My Profile</h1>
    <div class="container rounded bg-info mb-3">
      <div class="row m-2">
        <div class="col h5 font-weight-light">Years of Experience: account.yearsExp</div>
        <div class="col h5 font-weight-light">Work with Ages: account.workAges</div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Skills: account.skills</div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Bio: account.bio</div>
      </div>
    </div>
  </div>

  <!-- show if parent account -->
  <div class="row text-light">
    <h1 class="m-4 text-dark">My Kids</h1>
    <div class="container rounded bg-info mb-3">
      <div class="row m-2">
        <div class="col h5 text-center font-weight-light">Name: account.name</div>
        <div class="col h5 text-center font-weight-light">Gender: account.gender</div>
        <div class="col h5 text-center font-weight-light">Age: account.age</div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Likes: account.likes</div>
        <div class="col h5 font-weight-light"></div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Allergies: account.allergies</div>
        <div class="col h5 font-weight-light"></div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Medications: account.medications</div>
        <div class="col h5 font-weight-light"></div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Special Requirements: account.specialReqs</div>
      </div>
    </div>
  </div>
</div>
