<div class="container">
  <!-- Show no matter what account -->
  <app-account-details [account]="account"></app-account-details>

  <!-- show if nanny account -->
  <div class="row border border-info mb-3" *ngIf="account.type === 'nanny'">
    <div class="container d-flex justify-content-between bg-info mb-3">
      <h1 class="m-4 text-light">My Profile</h1>
      <!-- <button class="btn btn-link text-light">Edit Info</button> -->
    </div>
    <div class="container mb-3 text-info">
      <div class="row m-2">
        <div class="col h5 font-weight-light">Years of Experience:
          <span class="text-dark">{{account.yearsExp}}</span>
        </div>
        <div class="col h5 font-weight-light">Work with Ages:
          <span class="text-dark">{{account.workWithAges}}</span>
        </div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light text-info">Skills:
          <div class="text-dark">
            <span *ngFor="let skill of account.skills; let isLast = last">
              {{skill}}{{isLast ? '' : ','}}
            </span>
          </div>

        </div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">Bio:
          <div class="text-dark">{{account.bio}}</div>
        </div>
      </div>
      <div class="row m-2">
        <div class="col h5 font-weight-light">References:
          <div class="text-dark" *ngFor="let ref of account.references">{{ref.name}}
            (phone: {{ref.phone}}, email: {{ref.email}})</div>
        </div>
      </div>
    </div>
  </div>

  <!-- show if parent account -->
  <div class="row" *ngIf="account.type === 'parent'">
    <div class="container d-flex justify-content-between bg-info mb-3">
      <h1 class="m-4 text-light">My Kids</h1>
      <!-- <button class="btn btn-link text-light">Edit Info</button> -->
    </div>
    <!-- One container per child -->
    <div class="container pr-0 pl-0">
      <app-child-details *ngFor="let child of account.children" [child]="child"></app-child-details>
    </div>
  </div>
</div>
