/* You can add global styles to this file, and also import other style files */
/*COLORS
  Headers: bootstrap "info"
  Off-white backgrounds: bootstrap "light"


*/
.large-text {
  font-size: 1.3em;
}
.background-gray {
  background: #d1d1d1;
}
