<div class="container d-flex justify-content-between bg-light mb-3 border">
  <h1 class="m-4">My Kids</h1>
  <button (click)="clickInfo()" class="btn btn-link text-dark">
    {{isEditMode ? 'Save Info' : 'Edit Info'}}
  </button>
</div>
<!-- One container per child -->
<app-child-details
  [hidden]="isEditMode"
  *ngFor="let child of account.children"
  [child]="child">
</app-child-details>
<div class="position-relative" [hidden]="!isEditMode" *ngFor="let child of updateChildren; let i = index">
    <app-child-details-update [child]="child"></app-child-details-update>
    <button
      class="btn btn-link text-dark position-absolute remove-button"
      (click)="removeChild(i)">
        X
    </button>
</div>
<div class="d-flex justify-content-end mb-4">
  <button [hidden]="!isEditMode" (click)="addChild()" class="btn btn-info">Add Child</button>
</div>

