
.container {
  background-color: #f2f2f2;
  padding: 20px 0 20px 0;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.col {
  float: center;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.bottom-container {
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}
