<div class="container">
  <div class="row bg-info display-4">
    TEMP NAVBAR
  </div>
  <div class="row align-content-start">
    <div class="col-md-2 container background-gray">
      <div class="row">
        <h1 class="text-truncate">Jobs</h1>
      </div>
      <div class="row">
        <div class="list-group text-truncate mb-5" *ngIf="noJobs">
          <button type="button" disabled class="list-group-item list-group-item-action large-text ">
            No Jobs
          </button>
        </div>
        <div class="list-group text-truncate">
          <button type="button" (click)="clickJob(job)" class="list-group-item list-group-item-action large-text "
            *ngFor="let job of jobs">
            <div class="text-truncate">
              {{job.familyName}}
            </div>
          </button>
        </div>
      </div>
      <div class="row">
        <h1 class="text-truncate">Requests</h1>
      </div>
      <div class="row">
        <div class="list-group text-truncate mb-5" *ngIf="noReqs">
          <button type="button" disabled class="list-group-item list-group-item-action large-text ">
            No Requests
          </button>
        </div>
        <div class="list-group text-truncate mb-5" *ngIf="!noReqs">
          <button type="button" (click)="clickRequest(req)" class="list-group-item list-group-item-action large-text "
            *ngFor="let req of requests">
            <div class="text-truncate">
              {{req.familyName}}
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-7 container">
      <h1 class="display-3">{{dispJob.familyName}}</h1>
      <h2>{{dispJob.schedule}}</h2>
      <h4 *ngIf='isJob' class="d-inline">{{dispJob.address}} {{dispJob.city}}</h4>
      <h4 class="d-inline">{{dispJob.state}} {{dispJob.zip}}</h4>
      <p>
        {{dispJob.description}}
      </p>
      <app-nanny-schedule *ngIf='isJob && !noJobs' [tasks]="dispJob.tasks"></app-nanny-schedule>
      <div class="row" *ngIf="!isJob">
        <div class="col-md-2">
          <button type="button" (click)='acceptRequest()' id="acceptReq" class="btn btn-success">Accept</button>
        </div>
        <div class="col-md-2">
          <button type="button" (click)='declineRequest()' id="declineReq" class="btn btn-secondary">Decline</button>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div *ngIf='isJob'>
        <app-child-card *ngFor="let child of dispJob.children" [child]="child"></app-child-card>
      </div>
    </div>
  </div>
</div>
