<div class="container mt-4 mb-3">
  <div class="text-center pt-4 mb-4">
    <app-stroller-icon></app-stroller-icon>
  </div>
  <app-account-create-login [loginInfo]="loginInfo" [stepHideController]="stepHideController" [hidden]="stepHideController[0]"></app-account-create-login>
  <app-account-create-personal [accType]="loginInfo.type" [personalInfo]="personalInfo" [stepHideController]="stepHideController" [hidden]="stepHideController[1]"></app-account-create-personal>
  <app-account-create-nanny (finished)="generateAccount()" [nannyInfo]="nannyInfo" [stepHideController]="stepHideController" [hidden]="stepHideController[2]"></app-account-create-nanny>
  <app-account-create-parent (finished)="generateAccount()" [parentInfo]="parentInfo" [stepHideController]="stepHideController" [hidden]="stepHideController[3]"></app-account-create-parent>
</div>
