<div class="container">
  <div class="row align-content-start">
    <div class="col-md-2 container background-gray">
      <div class="row">
        <h1 class="text-truncate">Nannys</h1>
      </div>
      <div class="row">
        <div class="list-group text-truncate mb-5" *ngIf="!current.length">
          <button
            type="button"
            disabled
            class="list-group-item list-group-item-action large-text "
          >
            No Nannys
          </button>
        </div>
        <div class="list-group text-truncate mb-5">
          <button
            type="button"
            (click)="clickJob(job)"
            class="list-group-item list-group-item-action large-text "
            *ngFor="let job of current"
          >
            <div class="text-truncate">
              {{job.nannyName}}
            </div>
          </button>
          <app-create-job [job]="tempJob"></app-create-job>
        </div>
      </div>
      <div class="row">
        <h1 class="text-truncate">Completed</h1>
      </div>
      <div class="row">
        <div class="list-group text-truncate mb-5" *ngIf="!completed.length">
          <button
            type="button"
            disabled
            class="list-group-item list-group-item-action large-text "
          >
            No Completed
          </button>
        </div>
        <div class="list-group text-truncate mb-5">
          <button
            type="button"
            (click)="clickJob(comp)"
            class="list-group-item list-group-item-action large-text "
            *ngFor="let comp of completed"
          >
            <div class="text-truncate">
              {{comp.nannyName}}
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-7 container">
      <div class="row align-items-center">
        <div class="col-md-9">
          <h1 class="display-3">{{dispJob.nannyName}}</h1>
        </div>
        <div *ngIf="dispJob.isComplete" class="col-md-3">
          <app-rating [ratingValue]="dispJob.rating"></app-rating>
        </div>
        <div *ngIf="!dispJob.isComplete" class="col-md-3 clearfix">
          <button
            type="button"
            id="next_btn"
            class="btn float-right btn-info"
          >
            Complete Job
          </button>
        </div>
      </div>
      <div class="row">
        <h2>{{dispJob.duration}}</h2>
      </div>
      <div class="row">
        <h4 class="d-inline">Phone: {{dispJob.nannyPhone}}</h4>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p>
            {{dispJob.description}}
          </p>
        </div>
      </div>

      <app-job-schedule
        [tasks]="dispJob.tasks"
        [editable]="false"
        [completeable]="false"
      >
      </app-job-schedule>
    </div>
    <div class="col-md-3">
      <app-child-card
        *ngFor="let child of dispJob.children"
        [child]="child"
      >
      </app-child-card>
    </div>
  </div>
</div>
