<div class="row border border-info mb-5 mt-3">
  <div class="container d-flex justify-content-between bg-info mb-3">
    <h1 class="m-4 text-light">My Account</h1>
    <!-- <button class="btn btn-link text-light">Edit Info</button> -->
  </div>
  <div class="container mb text-info">
    <div class="row m-2">
      <div class="col h5 font-weight-light">Name:
        <span class="text-dark">{{account.name}}</span>
      </div>
      <div class="col h5 font-weight-light">Email:
        <span class="text-dark">{{account.email}}</span>
      </div>
    </div>
    <div class="row m-2">
      <div class="col h5 font-weight-light">Gender:
        <span class="text-dark">{{account.gender}}</span>
      </div>
      <div class="col h5 font-weight-light">Phone:
        <span class="text-dark">{{account.phone}}</span>
      </div>
    </div>
    <div class="row m-2">
      <div class="col h5 font-weight-light">Age:
          <span class="text-dark">{{account.age}}</span>
      </div>
      <div class="col h5 font-weight-light">Address:
          <span class="text-dark">{{account.address}}</span>
      </div>
    </div>
  </div>
</div>
