<div class="container mb-3 mt-3" *ngIf="jobs && requests && completed && dispJob">
  <div class="d-flex">
    <div class="d-flex flex-column">
      <div class="container p-3 rounded bg-light">
        <div class="d-flex justify-content-center mb-2">
          <h5>Current Jobs</h5>
        </div>
        <div class="d-flex flex-column">
          <button
            *ngIf="!jobs.length"
            type="button"
            disabled
            class="btn btn-outline-secondary mb-3"
          >
            No Jobs
          </button>
          <button
            type="button"
            (click)="clickJob(job)"
            class="btn btn-outline-info mb-3"
            *ngFor="let job of jobs"
          >
            <div class="text-truncate">
              {{job.familyName}}
            </div>
          </button>
        </div>
      </div>
      <div class="container mt-3 p-3 bg-light">
        <div class="d-flex justify-content-center mb-2">
          <h5>Requests</h5>
        </div>
        <div class="d-flex flex-column">
          <button
            *ngIf="!requests.length"
            type="button"
            disabled
            class="btn btn-outline-secondary mb-3"
          >
            No Requests
          </button>
          <button
            type="button"
            (click)="clickRequest(req)"
            class="btn btn-outline-info mb-3"
            *ngFor="let req of requests"
          >
            <div class="text-truncate">
              {{req.familyName}}
            </div>
          </button>
        </div>
      </div>
      <div class="container mt-3 p-3 bg-light">
        <div class="d-flex justify-content-center mb-2">
          <h5>Past Jobs</h5>
        </div>
        <div class="d-flex flex-column">
          <button
            *ngIf="!completed.length"
            type="button"
            disabled
            class="btn btn-outline-secondary mb-3"
          >
            No Past Jobs
          </button>
          <button
            type="button"
            (click)="clickRequest(job)"
            class="btn btn-outline-info mb-3"
            *ngFor="let job of completed"
          >
            <div class="text-truncate">
              {{job.familyName}}
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-7 container">
      <h1 class="display-4">The {{dispJob.familyName}} Family</h1>
      <div class="ml-3">
        <div class="mb-1" *ngIf="dispJob.duration">
          <app-calendar-clock-icon></app-calendar-clock-icon>
          <h6 class="d-inline ml-1">{{dispJob.duration}}</h6>
        </div>
        <div class="mb-1" *ngIf="dispJob.parentPhone">
          <app-phone-icon></app-phone-icon>
          <h6 class="d-inline ml-1">{{dispJob.parentPhone | phone}}</h6>
        </div>
        <div class="mb-1" *ngIf='dispJob.isAccepted && dispJob.address'>
          <app-home-icon></app-home-icon>
          <h6 class="d-inline ml-1">
            {{dispJob.address}}, {{dispJob.city}}, {{dispJob.state}} {{dispJob.zip}}
          </h6>
        </div>
        <p class="mt-3">{{dispJob.description}}</p>
      </div>
      <app-job-schedule
        *ngIf='dispJob.isAccepted == true && dispJob.tasks'
        [tasks]="dispJob.tasks"
        [editable]="false"
        [completeable]="true"
        (updateTasks)="updateTasks($event)"
      >
      </app-job-schedule>
      <div class="row" *ngIf="dispJob.isAccepted == false">
        <div class="col-md-2">
          <button
            type="button"
            (click)='acceptRequest()'
            id="acceptReq"
            class="btn btn-success"
          >
            Accept
          </button>
        </div>
        <div class="col-md-2">
          <button
            type="button"
            (click)='declineRequest()'
            id="declineReq"
            class="btn btn-secondary"
          >
            Decline
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div *ngIf='dispJob.isAccepted'>
        <app-child-card *ngFor="let child of dispJob.children" [child]="child"></app-child-card>
      </div>
    </div>
  </div>
</div>
