<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
  crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-md-3 bg-secondary">
      <div class="filter-sidebar">
        <div class="row card-body py-2 mb-4 bg-blue twhite">
          <h3>Search Options</h3>
        </div>
        <div class="form-group">
          <select class="form-control" id="gender" [(ngModel)]="searchField.gender">
            <option value='gender'>Gender</option>
            <option value='male'>Male</option>
            <option value='female'>Female</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="age" [(ngModel)]="nannyAge">
            <option value='0'>Age</option>
            <option value='1'>18-25</option>
            <option value='2'>26-35</option>
            <option value='3'>36-45</option>
            <option value='4'>46-50</option>
            <option value='5'>over 50</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="certification" [(ngModel)]="searchField.minChildAge">
            <option value='0'>Min Child Age</option>
            <option *ngFor="let age of childAgeRange" [value]="age">{{age}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="certification" [(ngModel)]="searchField.maxChildAge">
            <option value='17'>Max Child Age</option>
            <option *ngFor="let age of childAgeRange" [value]="age">{{age}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="experience" [(ngModel)]="searchField.experience">
            <option value='0'>Minimum Experience</option>
            <option value='0'>1 year</option>
            <option value='3'>3 years</option>
            <option value='5'>5 years</option>
            <option value='8'>8 years</option>
            <option value='10'>10 or more years</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" id="zcode" class="form-control" placeholder="zip code" [(ngModel)]="searchField.zip">
        </div>
        <button type="btn" class="btn btn-success" (click)="search()">Search</button>
        <div class="pb-3">
        </div>
      </div>
    </div>
  </div>
</div>
