<button
  type="button"
  class="flex-grow-1 btn btn-outline-info"
  data-toggle="modal"
  (click)="reset = true"
  data-target="#createJobModal"
>
  <div class="text-truncate">
    + New Job
  </div>
</button>

<!-- Modal -->
<div
  class="modal fade bd-modal-lg"
  id="createJobModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="reset && children"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Create a New Job</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-md-9 pl-4 pr-2">
            <div class="form-group">
              <label for="task_name" class="large-text">
                Duration
              </label>
              <input
                type="text"
                id="task_name"
                class="form-control"
                placeholder="Ex: Jan 5-17"
                [(ngModel)]="job.duration"/>
            </div>
            <div class="form-group">
              <label for="create_job_desc" class="large-text">Description</label>
              <textarea
                class="form-control"
                id="create_job_desc"
                rows="3"
                [(ngModel)]="job.description"
              >
              </textarea>
            </div>
          </div>
        </div>
        <app-job-schedule
          [editable]="true"
          [tasks]="job.tasks"
          (updateTasks)="job.uTasks = $event"
          [completeable]="false"
        >
        </app-job-schedule>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="reset = false"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-info"
          (click)="createJob()"
          [disabled]="!job.duration || !job.description || (job.tasks.length === 0)"
          data-dismiss="modal"
        >
          Create Job
        </button>
      </div>
    </div>
  </div>
</div>
