<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-info text-light">
        Login Info
      </div>
      <div class="card-body bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="account_firstname" class="large-text">
                  First Name
                </label>
                <input type="text" id="account_firstname" class="form-control" placeholder="First Name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="account_lastname" class="large-text">
                  Last Name
                </label>
                <input type="text" id="account_lastname" class="form-control" placeholder="Last Name" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
<br />
