<div class="container" *ngIf="account">
  <!-- Show no matter what account -->
  <app-account-details [account]="account"></app-account-details>


  <!-- show if nanny account -->
  <div *ngIf="account.type === 'nanny'">
    <app-deposit-details [deposit]="account.deposit" *ngIf="account.deposit"></app-deposit-details>
    <app-nanny-details [account]="account"></app-nanny-details>
  </div>


  <!-- show if parent account -->
  <div *ngIf="account.type === 'parent' && account.children">
    <app-payment-details [payment]="account.payment" *ngIf="account.payment"></app-payment-details>
    <div class="row">
      <div class="container pr-0 pl-0">
        <app-child-details-container [account]="account"></app-child-details-container>
      </div>
    </div>
  </div>
</div>
