<div class="container border mb-3 text-info">
  <div class="row m-2">
    <div class="col h5 text-center font-weight-light">Name:
      <span class="text-dark">{{child.name}}</span>
    </div>
    <div class="col h5 text-center font-weight-light">Gender:
        <span class="text-dark">{{child.gender}}</span>
    </div>
    <div class="col h5 text-center font-weight-light">Age:
      <span class="text-dark">{{child.age}} years old</span>
    </div>
  </div>
  <div class="row m-2">
    <div class="col h5 font-weight-light">Likes:
        <span class="text-dark">{{child.likes}}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class="col h5 font-weight-light">Allergies:
        <span class="text-dark">{{child.allergies}}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class="col h5 font-weight-light">Medications:
        <span class="text-dark">{{child.medications}}</span>
    </div>
  </div>
  <div class="row m-2">
    <div class="col h5 font-weight-light">Special Requirements:
        <span class="text-dark">{{child.specialReqs}}</span>
    </div>
  </div>
</div>
