<div class="d-flex justify-content-between align-items-center bg-info">
  <ul class="nav">
    <li *ngIf="loggedIn" class="nav-item">
        <a
        class="nav-link"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        <app-stroller-small-icon></app-stroller-small-icon>
      </a>
    </li>
  </ul>
  <ul class="nav">
    <li *ngIf="accountType === 'parent' && loggedIn" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/search']"
        routerLinkActive="router-link-active"
      >
        Search Nannys
      </a>
    </li>
    <li *ngIf="accountType === 'nanny' && loggedIn" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/nanny-jobs', username]"
        routerLinkActive="router-link-active"
      >
        My Jobs
      </a>
    </li>
    <li *ngIf="accountType === 'parent' && loggedIn" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/parent-jobs', username]"
        routerLinkActive="router-link-active"
      >
        My Jobs
      </a>
    </li>
    <li *ngIf="loggedIn" class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/settings', username]"
        routerLinkActive="router-link-active"
      >
        My Account
      </a>
    </li>
    <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          (click)="logout()"
        >
          Logout
        </a>
      </li>
  </ul>
</div>
